@import "../../styles/global.less";

.education {
    background: @white;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .card-image {
        width: 50%;
    }

    .card-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .card-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            .card-title {
                display: grid;
                grid-template-columns: 25px 1fr;
                grid-gap: 12px;

                img {
                    width: 25px;
                }
            }

            h3 {
                font-size: 1.2rem;
                font-weight: 500;
            }

            p {
                color: #888;
                font-size: 0.8rem;
            }

            .italic-education {
                font-style: italic;
            }
        }
    }
    
}

@media screen {
    @media (max-width: 768px) {
        .card-image {
            display: none;
        }

        .education {

            .card {
                padding: 2rem;
                text-align: center;
                height: auto;

                h2 {
                    font-size: 2rem;
                }
            }
        }
    }
}
