@import "../../styles/global.less";

.education {
    background: @white;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .card-image {
        width: 50%;
    }

    .card-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    
}

@media screen {
    @media (max-width: 768px) {
        
        .education {
            flex-direction: column;
            justify-content: space-around;
            
            .card-image {
                display: none;
            }

            .card-text {
                align-items: center;
                text-align: center;

                h2 {
                    font-size: 1.8em;
                }

                h3 {
                    font-size: 0.9rem;
                }

                p {
                    font-size: 0.8rem;
                }
            }
        }
    }
}
