@import "../../styles/global.less";

.cover {
    background: @white;
    height: 100vh; 
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    h1 {
        font-size: 40px;
        color: @darkblue;
        font-weight: 700;
        margin: 0 0 24px;
    }
    
    h3 {
        font-size: 20px;
        color: #293347;
        font-weight: 400;
        margin: 0 0 24px;

        span {
            font-weight: 700;
        }
    }

    .social-media {
        .developer {
            width: 210px;
            margin: 32px 0;
        }
    }
}

@media screen {
    @media (max-width: 768px) {
        .white-parallax {
            height: 50vh;
        }
    }
}
