@import "../../styles/global.less";

.cover {
    background: @white;
    min-height: 100vh; 
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    .header {
        position: absolute;
        top: 0;
        width: 100%;
        height: 64px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .social-media-cover {
            margin-left: 10vh;

            .cover-icons {
                font-size: 24px;
                margin: 8px;
            }
        }

        .buttons-cover {
            margin-right: 10vh;
        }

        .flags {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            img {
                width: 35px;
                margin: 8px;
                cursor: pointer;
            }
        }
    }

    .larissa {
        font-size: 2rem;
        font-weight: 300;
        margin: 0 0 3%;
    }


    h1 {
        font-size: 40px;
        color: @darkblue;
        font-weight: 700;
        margin: 0 0 24px;
    }
    
    h3 {
        font-size: 20px;
        color: #293347;
        font-weight: 400;
        margin: 0 0 24px;

        span {
            font-weight: 700;
        }
    }

    .social-media {
        .developer {
            width: 210px;
            margin: 32px 0;
        }
    }
}

@media screen {
    @media (max-width: 768px) {
        .cover {
            padding: 5%;
            text-align: center;
            min-height: 130vh;


            .larissa {
                display: none;
            }

            h1 {
                font-size: 2rem;
            }

            h3 {
                font-size: 1rem;
            }

        .button-cover {
            margin: 8px;
        }

        .social-media-cover {
            margin: 0 !important;
        }
        
        .cover-icons {
            font-size: 24px;
            margin: 8px;
        }
            
        }
    }
}
