.skills-grid {
    display: grid;
    grid-template-columns: 25px 1fr;
    grid-gap: 12px;
    margin: 12px 0;

    .skills-image {
        width: 25px;
    }

    .skills-text {
        color: rgba(0,0,0,0.7);
        font-weight: 300;
        font-size: 18px;
    }
}

@media screen {
    @media (max-width: 768px) {
        .skills-grid {
            grid-template-columns: 25px 90px;
        }
    }
}
