@import "~antd/dist/antd.less";

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background: #2D3047;
}

body, html {
    height: 100%;
  }

@gray: #EBEBEB;
@primary-color: #F76F8E;
@pink: #F76F8E;
@darkblue: #2D3047;
@white: #ffffff;
@radius: 8px;