@import "~antd/dist/antd.less";

@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap');
  }

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background: #2D3047;
}

body, html {
    height: 100%;
  }

@gray: #EBEBEB;
@primary-color: #F76F8E;
@pink: #F76F8E;
@darkblue: #2D3047;
@white: #ffffff;
@radius: 8px;