@import "~antd/dist/antd.less";

@font-face {
    font-family: 'Lato';
    src: url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap');
    font-weight: normal;
    font-style: normal;
  }

* {
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
    background: #2D3047;
}

@gray: #EBEBEB;
@primary-color: #F76F8E;
@pink: #F76F8E;
@darkblue: #2D3047;