@import "../../styles/global.less";

.experience {
    width: 100vw;
    min-height: 100vh;
    background: @gray;
    padding: 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h2 {
        margin-bottom: 10vh;
    }

    .experience-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 24px;
    }

    .project-button-linkedin {
        margin-top: 10vh;
    }
}

@media screen {
    @media (max-width: 768px) {
        .experience {
            .experience-item {
                width: 90vw;
                height: auto;

                h3 {
                    font-size: 1.5rem;
                }
            }
        }
    }
}
